body{
    background-color: white;
}
.navigation {
    text-align: center;
}
.images {
    width: 100%;
}
#monument {
    width: 100%;
    
}

.about_museum{
    margin-right: 20px;
    margin-left: 20px;
}
