
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

body{
    background-color: white;
    font-family:"Inter";
}


#name h1{
    margin-top: 300px;
}

/* designing navigation bar*/
.navigation {
    width: 100%;
    position: fixed;
}
.navigation ul{
    display: flex; 
    justify-content: center;
    text-align: center;
    list-style-type: none;  
    margin: 0;
    padding: 0; 
}

.navigation ul li a {
    display: block;
    padding: 14px 16px;
    background-color: rgba(248, 249, 253, 0.699);
}

.navigation ul li a:hover {
    background-color: lightgoldenrodyellow;
}

.images {
    width: 100%;
}
#monument img {
    width: 100%;
    border-radius: 8px;
    
}

.about_museum{
    margin-right: 20px;
    margin-left: 20px;
}
.img_div{
    width:250px;
    height:400px;
}
.image_box img {
  margin-top: auto;
  width: 100%;    /* size of image*/
  height: 50%;
  border-radius: 8px;
}
.images_row{
    display: grid;
    grid-template-columns: auto auto auto;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

#video {
    text-align: center;

}

